.home-box{
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
}

.convert-box{
    margin-top: 30px;
    text-align: center;
}

.convert-box .title{
    background-color: #ff6248;
    
}

.convert-box .title h2{
    color: white;
    margin-top: .5em
}

.buy-box {
    margin-top: 30px;
    text-align: center;
}


.buy-box .title{
    background: #ff6e04
}

.buy-box .title h2{
    color: white;
    margin-top: .5em
}