.convert-card{
    background-color: #daedf5;
    margin-top: 60px;
    line-height: 2.42857143;
}

.convert-card .card-title{
    background-color: #1ea6ec;
    text-align: center;
    color: white;
}

.card-content {
    padding: 20px;
}

.buy-card{
    background-color: #fee8bd;
    margin-top: 60px;
    line-height: 2.42857143;
}

.buy-card .card-title{
    background-color: #f3b336;
    text-align: center;
    color: white;
    
}

.btn-card{
    width: 100%;
    margin-top: 20px;
}
